
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/dashboard.css'}">
    <title>Dashboard - Clinica</title>
    
    <body>
  <header>
    <h1>Clínica Veterinária Amigo Animal</h1>
    <p>Bem-vindo, $(a.nome)</p>
  </header>
  <nav>
    <a href="#">Agendar Consulta</a>
    <a href="#">Listar Animais</a>
    <a href="#">Sair</a>
  </nav>
  <div class="container">
    <h2>Consultas Agendadas</h2>
    <p>Total: <strong>12</strong> consultas</p>
    <a href="#" class="btn">Ver Consultas</a>
  <img class ="img" src= /public/images/pets.png alt="Images">
  </div>
</body>
</html>