
#paragrafo{
	
	border-left: 6px solid blue;
	font-size: 21px;

	}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  
}

tr:nth-child(even){
	
	background-color: #e4e4e4
	}

th {
  background-color: #a8d0fd;
  color: #2c1634;
  font-style: italic;
}

tr:hover {
	background-color: #7ea2b6;
	}